.form {
    display: flex;
    justify-content: center;
    background: #ead1f1;
}

.form_card {
    width: 100%;
    max-width: 450px;
    background: #fff;
    border: 1px solid #dea8ee;
    background: transparent;
}

.title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 0.5rem;
}

.control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.control label {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.control input {
    padding: 0.7rem;
    border: 1px solid #5d1d70;
    border-radius: 5px;
    outline: none;
}

.control input:focus {
    border-color: #371042;
    background-color: #dea8ee;
}

.error {
    color: #e92a4a;
    font-size: 0.75rem;
    margin-top: 0.2rem;
    font-weight: bold;
    font-style: italic;
}

.btn_actions {
    display: flex;
    gap: 1rem;
}

.button_enregistrer {
    background-color: #dea8ee;
    color: #ffffff;
    border: none;
    font-weight: bold;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer
}

.button_enregistrer:hover {
    background-color: #c594d4;
}

.button_annuler {
    background-color: #ecbdfa;
    color: #ffffff;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer
}

.button_annuler:hover {
    border: 1.5px solid #c594d4;
}