main {
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  max-width: 1200px;
  min-height: 80vh;
}

.main-header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #a757e9;
  padding: 0 1rem;
  z-index: 5;
  justify-content: space-between;
}

.main-navigation__title {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0;
  justify-self: center;
  justify-content: center;
}

.main-navigation__title a {
  text-decoration: none;
  color: #ffffff;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation_MenuButton {
  width: 3rem;
  height: 3rem;
  background: #dac0f0;
  border: 1px solid #dac0f0;
  border-radius: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation_MenuButton span {
  display: block;
  width: 2.5rem;
  height: 2.5px;
  background: transparent;
}